In [82]:
import os
print(os.listdir('../input'))
print(os.listdir('../input/digit-recognizer'))

['digit-recognizer']
['train.csv', 'test.csv', 'sample_submission.csv']

In [83]:
import pandas as pd
train_set = pd.read_csv('../input/digit-recognizer/train.csv')
train_set

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
y = train_set['label']
y

0        1
1        0
2        1
3        4
4        0
        ..
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [85]:
X = train_set.drop('label', axis=1, inplace=True)
X = train_set
X

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
y = pd.get_dummies(y)
y

       0  1  2  3  4  5  6  7  8  9
0      0  1  0  0  0  0  0  0  0  0
1      1  0  0  0  0  0  0  0  0  0
2      0  1  0  0  0  0  0  0  0  0
3      0  0  0  0  1  0  0  0  0  0
4      1  0  0  0  0  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..
41995  1  0  0  0  0  0  0  0  0  0
41996  0  1  0  0  0  0  0  0  0  0
41997  0  0  0  0  0  0  0  1  0  0
41998  0  0  0  0  0  0  1  0  0  0
41999  0  0  0  0  0  0  0  0  0  1

[42000 rows x 10 columns]

### Now that we have our data in X and y, we can start with our neural network. Letâ€™s create four hidden layers, one input layer, and one output layer using Keras.

In [87]:
#The first hidden layer will have 600 neurons, second: 400, third: 200, fourth: 10.
#from tensorflow.keras import Sequential
#from tensorflow.keras.layers import Dense

from keras.models import Sequential
from keras.layers import Dense

classifier = Sequential()

#Now addindg the hidden layers:
classifier.add(Dense(units=600, kernel_initializer='uniform', activation='relu', input_dim=784))
classifier.add(Dense(units=400, kernel_initializer='uniform', activation='relu'))
classifier.add(Dense(units=200, kernel_initializer='uniform', activation='relu'))
classifier.add(Dense(units=10, kernel_initializer='uniform', activation='sigmoid'))

### Now minimizing the loss with the "Stochastic Gradient Descent" `sgd` Algorithm

In [88]:
classifier.compile(optimizer='sgd', loss='mean_squared_error', metrics=['accuracy'])

### Now training

In [93]:
classifier.fit(X, y, batch_size=10, epochs=10)

Epoch 1/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0085 - accuracy: 0.9551
Epoch 2/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0062 - accuracy: 0.9674
Epoch 3/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0049 - accuracy: 0.9744
Epoch 4/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0040 - accuracy: 0.9792
Epoch 5/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0033 - accuracy: 0.9827
Epoch 6/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0028 - accuracy: 0.9856
Epoch 7/10
4200/4200 [==============================] - 16s 4ms/step - loss: 0.0024 - accuracy: 0.9874
Epoch 8/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0021 - accuracy: 0.9891
Epoch 9/10
4200/4200 [==============================] - 15s 4ms/step - loss: 0.0018 - accuracy: 0.9902
Epoch 10/10
4200/4200 [==============================] - 16s 4ms/step - loss: 0.0016 - accuracy: 0.9909

### Now predicting on the Test Set:

In [94]:
X_test = pd.read_csv("../input/digit-recognizer/test.csv")
y_pred = classifier.predict(X_test)
y_pred

array([[1.5030434e-07, 2.5827215e-10, 9.9999928e-01, ..., 5.6381253e-07,
        6.2128296e-11, 1.0716319e-09],
       [1.0000000e+00, 3.9092045e-09, 1.0338605e-05, ..., 1.8751311e-07,
        5.0742593e-10, 6.8486494e-11],
       [2.4488272e-05, 2.3922324e-04, 6.3935266e-05, ..., 4.9467981e-03,
        2.5957525e-03, 9.7970366e-01],
       ...,
       [7.7908035e-06, 4.6068322e-07, 2.5293566e-06, ..., 2.2516739e-08,
        6.8080317e-06, 6.6718208e-06],
       [2.1216273e-04, 2.4932269e-06, 4.3064702e-07, ..., 2.6659632e-07,
        3.6851213e-07, 9.9987936e-01],
       [9.3130311e-08, 1.2865649e-08, 9.9999905e-01, ..., 1.0328374e-09,
        1.0361440e-06, 2.7087285e-07]], dtype=float32)